/* Containers
----------------------------------------------------------------------------------------------------*/
.container_16 {	
	display: block;
	float: left;
}

.container_16 .grid_14 .alpha {
	width:86.5%;
}